.govuk-h-form-control-3-4 {
  width: 100%;

  @include mq($from: tablet) {
    width: 75%;
  }
}

.govuk-h-form-control-2-3 {
  width: 100%;

  @include mq($from: tablet) {
    width: 66.66%;
  }
}

.govuk-h-form-control-1-2 {
  width: 100%;

  @include mq($from: tablet) {
    width: 50%;
  }
}

.govuk-h-form-control-1-3 {
  width: 100%;

  @include mq($from: tablet) {
    width: 33.33%;
  }
}

.govuk-h-form-control-1-4 {
  width: 100%;

  @include mq($from: tablet) {
    width: 25%;
  }
}

.govuk-h-form-control-1-8 {
  width: 100%;

  @include mq($from: tablet) {
    width: 12.5%;
  }
}
